<nav class="navbar">
  <div class="navbar__logo">
      <img src="../../assets/logo.png" alt="logo">
  </div>
  <div class="navbarMenu">
      <div class="navbarMenu__rectangle"></div>
      <div class="navbarMenu__rectangle"></div>
      <div class="navbarMenu__rectangle"></div>
      <div class="navbarMenu__text">
          <div class="linkAgents">Directorio de Agentes</div>
          <div class="linkContact">Contacto</div>
          <div class="linkIngresar">Ingresar</div>
      </div>
  </div>
</nav> 
