@import "_colors.scss";
@import "_variables.scss";

.frame{
    height: 304px;
    background-image: url("../images/banner-mobile.png");
    background-position: center;
    background-size: cover;
}

hr{
    background-color: $light-gray;
}

.mainTitle{
    font-size: 24px;
    line-height: 28px;
    margin: 15px 95px 15px 27px;
    width: 70%;
}

.searchBar{
    @extend %flexRow;
    align-items: center;
    border: 2px solid;
    border-radius: 20px;
    border-color: $gray;
    height: 44px;
    margin: 15px 30px 17px 27px;

    &__title{
        font-size: 18px;
        font-weight: normal;
        width: 250px;
        color: $gray;
        margin: 13px 0px 10px 15px;
    }

    &__icon{
        width: 23px;
        height: 23px;
        background-image: url("../images/lupa.png");
        background-position: center;
        background-size: cover;
        margin: 8px 20px 13px 0px;
    }
}

.boxAgentsTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;

    &__name{
        font-size: 18px;
    }
    &__icon{
        width: 26px;
        height: 26px;
        background-image: url("../images/certified.png");
        background-position: center;
        background-size: cover;
    }
}

#agents{
    @extend %flexRow;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boxAgent{
    margin-top: 18px;
    margin-bottom: 25px; 
    width: 300px;
}

.boxAgentsContent{
    @extend %flexRow;
    align-items: center;

    &__photo{
        height: 120px;
        background-position: center;
        background-size: cover;
    }
    &__description{
        text-align: justify;
        font-size: 12px;
        font-weight: normal;
        margin-left: 25px;

    }
}

.boxAgentSettings{
    @extend %flexRow;
    align-items: center;
    justify-content: space-between;

    &__button{
        background-color: $black;
        color: $white;
        font-size: 14px;
        font-weight: normal;
        border-radius: 18px; 
        padding: 8px 30px 9px 30px;
        margin-right: 24px;
        margin-top: 20px;
        width: 80px;
        text-align: center;
    }
    &__price{
        margin-right: 13px;
        margin-top: 18px;
        text-align: justify;
        font-size: 14px;
    }
}

@media(min-width: 768px)
{
    .frame{
        height: 428px;
        background-image: url("../images/banner.png");
        background-position: right;
        background-size: cover;
    }
    .mainTitle{
        position: absolute;
        top: 300px;
        color: $white;
        font-size: 36px;
        width: 50%;
    }
    .searchBar{
        position: absolute;
        top: 400px;
        font-size: 36px;
        background-color: $white;
        width: 663px;

        &__title{
            width: 400px;
        }
    }
}

@media(min-width: 1024px)
{
    .frame{
        height: 500px;
    }
    .mainTitle{
        width: 60%;
    }
    .searchBar{
        width: 568px;
    }
}