@import "colors";
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $black;
}
.menu{
    display: flex;
    flex-direction: column;
    margin-right: 12px;

    &__rectangle{
        width: 53px;
        height: 9px;
        background-color: $white;
        margin-top: 5px;
    }
}

