@import "../_variables.scss";
@import "../_colors.scss";

.footer {
    background-color: $black;
    color: $white;
    font-size: 12px;
    line-height: 14px;

    
    &__authorized,&__copyright{
        margin-left: 21px;
        width: 195px;
    }

    &__authorized{
        padding-top: 14px;
    }

    &__copyright{
        padding-top: 13px;
        padding-bottom: 19px;
        text-decoration: underline;
    }
}

@media(min-width: 768px)
{
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &__authorized{
            width: 400px;
        }
    }
}