<div *ngIf="agents$ && agents$.companies">
    <div class="boxAgent" *ngFor="let agent of agents$.companies">
        <div class="boxAgentsTitle">
            <div class="boxAgentsTitle__name">{{agent.name}}</div>
            <div *ngIf="agent.isCertified" class="boxAgentsTitle__icon"></div>
        </div>
        <hr/>
        <div class="boxAgentsContent">
            <img class="boxAgentsContent__photo" src="{{agent.image}}">
            <div class="boxAgentsContent__description">{{agent.description}}</div>
        </div>
        <div class="boxAgentSettings">
            <div class="boxAgentSettings__price">Desde: {{agent.rate}} / {{agent.hours}} horas</div>\
            <div class="boxAgentSettings__button">Contratar</div>
        </div>
    </div>
</div>



