@import "colors";

.box{
    col-xs-12 col-md-4 col-xl-4;
    margin-bottom: 30px;
    margin-top: 22px;
    float: left;
    display: flex;
    flex-direction: column;

    &__title{
        font-size: 22px;
        line-height: 1.3em;
        color: $red;
        text-align: left;
        margin-bottom: 6px;
        padding-bottom: 5px;
        font-weight: 600;
    }

    &__button{
        text-decoration: underline;

        &__title{
            position: relative;
            background-color: $black;
            display: inline-block;
            color: $white;
            margin-top: 14px;
            padding: 12px 18px;
            text-align: center;
            text-decoration: none;
            font: 14px/100% 'Open Sans', sans-serif;
            border-radius: 5px;        
            font-size: 1em;
        }
    }
}

.photo{
    width: 343px;
    height: 305px;
    width: 90%;
    background-color: $white;
    border: 1px solid $grey-alto;
    position: relative;
    float: left;
    margin: 16px 13px 8px 0;
    padding: 8px;
}

@media (min-width: 768px)
{
    .button__title{
        font-size: 20px;
    }
}







