@import "_colors.scss";
@import "_variables.scss";

.footer {
    position: relative;
    height: 90px;
    background-color: $black;

    &__copyright {
        @extend %footerFeatures;
        right: 100px;
    }

    &__authorized {
        @extend %footerFeatures;
        left: 50px;
    }
}

@media(max-width: 768px){
    .footer__authorized {
        display: none;
    }
}