footer {
    position: relative;
    height: 90px;
    clear: both;
    width: 100%;
    background-image: url(../images/footer.png);
    background-position: left top;
    background-repeat: repeat-x;
    background-color: black;
}
.FooterTwo {
    position: absolute;
    right: 100px;
    top: 26px;
    color: white;
    font-size: 14px;
}

.FooterTree {
    position: absolute;
    left: 50px;
    top: 26px;
    color: white;
    font-size: 14px;
}

@media(max-width: 800px)
{
    .FooterTree {
        display: none;
    }

}