@import "colors";
.footer {
    position: relative;
    height: 90px;
    background-color: $black;

    &__copyright {
        position: absolute;
        right: 100px;
        top: 26px;
        color: $white;
        font-size: 14px;
    }

    &__authorized {
        position: absolute;
        left: 50px;
        top: 26px;
        color: $white;
        font-size: 14px;
    }
}

@media(max-width: 768px)
{
    .footer__authorized {
        display: none;
    }

}