.page{
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: white;
    color: #575757;
    margin: 0 0 1px;
    height: 100%;
    line-height: 1.7em;
    border-top: 10px solid black;
}

.background{
	background-image: url("/images/bg.png");
	background-position: left top;
	background-repeat: repeat;
}

.link{
    text-decoration: underline;
    color: #666666;
    margin-left: 25px;
}

.paragraph{
    text-decoration: none;
    color: #666666;
}

@media (min-width: 768px) and (max-width: 1024px)
{
    .paragraph{
        font-size: 19px;
    }

}

@media (min-width: 1024px) and (max-width: 1200px) {
    .paragraph{
        font-size: 26px;
    }
 }








