.page{
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: white;
    color: #575757;
    margin: 0 0 1px;
    height: 100%;
    line-height: 1.7em;
    border-top: 10px solid black;
}

.bg{
	background-image: url("/images/bg.png");
	background-position: left top;
	background-repeat: repeat;
}

.link{
    text-decoration: underline;
    color: #666666;
}

.paragraph{
    text-decoration: none;
    color: #666666;
}

@media handheld, only screen and (max-width: 768px)
{
    .row, body, .container {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        float: left;
    }
}




@media handheld, only screen and (max-width: 768px)
{
    .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}






