body{
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: white;
    color: #575757;
    margin: 0 0 1px;
    height: 100%;
    line-height: 1.7em;
    border-top: 10px solid black;
}

.bg{
	background-image: url("/images/bg.png");
	background-position: left top;
	background-repeat: repeat;
}
