.intro{
    margin-top: 20px;
    width: 100%;
    position: relative;
    float: left;
    background: transparent;
    margin-top: 0;
    margin-bottom: 20px;

    &__title{
        font-size: 42px;
        line-height: 1.5em;
        color: #666666;
        text-align: left;
        padding-top: 13px;
        font-weight: 600;
    }

    &__paragraph{
        font-size: 15px;
        line-height: 1.6em;
        color: #666666;
        text-align: left;
        border-bottom: 1px solid #C8C8C8;
        margin-top: 7px;
        padding-bottom: 18px;

    }
}

@media handheld, only screen and (max-width: 320px)
{
    .intro__title {
        font-size: 20px;
        padding: 10px;
    }
}

@media handheld, only screen and (max-width: 800px)
{
    .intro__title {
        font-size: 34px;
        padding: 10px;
    }
}



.littlespan{
    font-size: 25px;
    margin-left: 10px;
}

.nav-menu{
    width: auto;
    top: 35px;
    right: 3px;
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
}

.nav-menu--items{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}


@media handheld, only screen and (max-width: 600px)
{
    .nav-menu--items{
        margin: 0px;
        padding: 0px;
        float: none;
    }
}



@media handheld, only screen and (max-width: 600px)
{
    .nav-menu {
        float: left;
        margin-top: 67px;
        left: 12px;
        border: none;
        width: 90%;
    }
}


.item{
    float: left;
    margin-left: 12px;
    line-height: normal;

    &__link{
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        color: #666666;
        font-weight: normal;
        display: block;
        padding-bottom: 10px;
        padding-top: 5px;
        background-color: transparent;
        margin-top: 5px;
        margin-right: 6px;
        text-decoration: none;

    }
}



